@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'RINGBEARER';
    src: url('/fonts/ringbearer.woff2');
}

@font-face {
    font-family: 'ANIRON';
    src: url('/fonts/aniron.woff2');
}