@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'RINGBEARER';
    src: url('../pages/fonts/ringbearer.TTF');


}

@font-face {
    font-family: 'ANIRON';
    src: url('../pages/fonts/aniron.TTF');


}